In [83]:
# imports
import pandas as pd
import numpy as np

#### Data acquisition

In [84]:
# initial df to start
df_init = pd.read_csv('./input/scoring_avg.csv')

# I don't want the totals but the averages
list_cols_drop = [col for col in df_init.columns if 'TOTAL' in col]

# I don't want how they rank up compared to the rest of the tour
list_cols_drop.append('RANK')
list_cols_drop.append('MOVEMENT')

#drop the columns that I don't need
df_init = df_init.drop(list_cols_drop, axis=1)
df_init

     PLAYER_ID               PLAYER     AVG
0        46046    Scottie Scheffler  68.131
1        28237         Rory McIlroy  69.083
2        30911      Tommy Fleetwood  69.357
3        54591          Ben Griffin  69.692
4        34098       Russell Henley  69.757
..         ...                  ...     ...
172      64693       Matthew Riedel  72.380
173      39859  Cristobal Del Solar  72.398
174      51690       Taylor Dickson  72.557
175      32070        Rafael Campos  72.660
176      23320          Ryan Palmer  73.503

[177 rows x 3 columns]

In [85]:
# initialize the filenames for the loop
list_filenames = ['driving_distance.csv',
                  'fir.csv',
                  'gir.csv',
                  'putting.csv',
                  'scrambling.csv']

# create a loop to merge all the data frames together
for filename in list_filenames:
    # get a temporary df
    df_temp = pd.read_csv(f'./input/{filename}')

    # the stat I'm interested in is in the 4th column
    column_keep = df_temp.columns[4]
    stat = filename.replace('.csv','') # the stat I'm interested in is in the filename
    str_colname = f'{stat}_{column_keep}' # create name for the stat so it's not just AVG or %
    df_temp[str_colname] = df_temp[column_keep] # create that column

    # merge the df's
    df_merge = df_temp[['PLAYER_ID', str_colname]] # this creates a data frame with just the data I need
    df_init = pd.merge(left=df_init, right=df_merge, how='left',
                       left_on='PLAYER_ID', right_on='PLAYER_ID') # merges the data

# show
df_init

,PLAYER_ID,PLAYER,AVG,driving_distance_AVG,fir_%,gir_%,putting_AVG,scrambling_%
0,46046,Scottie Scheffler,68.131,308.3,63.04%,71.39%,28.03,68.69%
1,28237,Rory McIlroy,69.083,323.0,51.24%,67.72%,28.59,63.80%
2,30911,Tommy Fleetwood,69.357,299.4,65.37%,65.84%,28.23,63.30%
3,54591,Ben Griffin,69.692,305.1,60.03%,69.66%,28.70,63.56%
4,34098,Russell Henley,69.757,289.1,68.68%,70.06%,28.85,63.40%
...,...,...,...,...,...,...,...,...
172,64693,Matthew Riedel,72.380,306.2,58.58%,68.01%,30.10,55.69%
173,39859,Cristobal Del Solar,72.398,305.9,51.94%,63.58%,28.83,52.78%
174,51690,Taylor Dickson,72.557,303.0,60.99%,63.75%,29.39,57.79%
175,32070,Rafael Campos,72.660,306.5,55.65%,62.07%,28.89,54.30%
176,23320,Ryan Palmer,73.503,298.1,59.28%,61.11%,29.31,53.27%

#### Data Cleaning

In [86]:
# create a copy to work on
df = df_init.copy()

# see the dtypes and see what needs to be changed
print(df.dtypes)

PLAYER_ID                 int64
PLAYER                   object
AVG                     float64
driving_distance_AVG    float64
fir_%                    object
gir_%                    object
putting_AVG             float64
scrambling_%             object
dtype: object

In [87]:
# fir_%, gir_% and scrambling_% all need to be floats not objects
# fixing fir
df['fir_%'] = df['fir_%'].str.replace('%', '').astype('float64')

# fixing gir_%
df['gir_%'] = df['gir_%'].str.replace('%', '').astype('float64')

# fixing scrambling_%
df['scrambling_%'] = df['scrambling_%'].str.replace('%', '').astype('float64')

# show
df

,PLAYER_ID,PLAYER,AVG,driving_distance_AVG,fir_%,gir_%,putting_AVG,scrambling_%
0,46046,Scottie Scheffler,68.131,308.3,63.04,71.39,28.03,68.69
1,28237,Rory McIlroy,69.083,323.0,51.24,67.72,28.59,63.80
2,30911,Tommy Fleetwood,69.357,299.4,65.37,65.84,28.23,63.30
3,54591,Ben Griffin,69.692,305.1,60.03,69.66,28.70,63.56
4,34098,Russell Henley,69.757,289.1,68.68,70.06,28.85,63.40
...,...,...,...,...,...,...,...,...
172,64693,Matthew Riedel,72.380,306.2,58.58,68.01,30.10,55.69
173,39859,Cristobal Del Solar,72.398,305.9,51.94,63.58,28.83,52.78
174,51690,Taylor Dickson,72.557,303.0,60.99,63.75,29.39,57.79
175,32070,Rafael Campos,72.660,306.5,55.65,62.07,28.89,54.30
176,23320,Ryan Palmer,73.503,298.1,59.28,61.11,29.31,53.27

In [88]:
print(df.dtypes) # should look better now

PLAYER_ID                 int64
PLAYER                   object
AVG                     float64
driving_distance_AVG    float64
fir_%                   float64
gir_%                   float64
putting_AVG             float64
scrambling_%            float64
dtype: object

#### saving the df

In [89]:
df.to_csv('golf_data.csv', index=False)